<a href="https://colab.research.google.com/github/Darkunquie/DSA-practice/blob/main/pattern_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def square(num,stars):
  for i in range(num):
    for j in range(stars):
      print("*",end=" ")
    print()


num=5
stars=4
print(square(num,stars))

* * * *
* * * *
* * * *
* * * *
* * * *
None

In [ ]:
def square(rows,stars):
  for i in range(rows):
    for j in range(stars):
      if i==0 or i==rows-1 or j==0 or j==rows-1:
        print("*",end=" ")
      else:
        print(" ",end=" ")


rows=4
stars=4
print(square(rows,stars))

* * * * *     * *     * * * * * None

In [ ]:
def hollow_square_star_pattern(n,st):
    for i in range(n):
        for j in range(st):
            if i == 0 or i == n - 1 or j == 0 or j == st - 1:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()
n = 5
st=4
hollow_square_star_pattern(n,st)

* * * *
*     *
*     *
*     *
* * * *

In [ ]:
def rhom(n,st):
    for i in range(1, n):
        for j in range(i):
            print(" ", end=" ")
        for j in range(n):
            print("*", end=" ")
        print()
n = 5
st=4
rhom(n,st)

  * * * * *
    * * * * *
      * * * * *
        * * * * *

In [ ]:
def rhom(n,st):
    for i in range(1, n):
        for j in range(i):
            print("*", end=" ")
        for j in range(n):
            print(" ", end=" ")
        print()
n = 5
st=4
rhom(n,st)

*
* *
* * *
* * * *

In [ ]:
def rhom2(n,st):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end=" ")
    for i in range(i):
      print("*",end=" ")
    print()
n=5
st=4
rhom2(n,st)

      *
    * *
  * * *
* * * *

In [ ]:
def rhom2(n,st):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end=" ")
    for i in range(n):
      print("*",end=" ")
    print()
n=5
st=4
rhom2(n,st)

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [ ]:
def rhom3(n,st):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end=" ")
    for i in range(n):
      print("*",end=" ")
    print()
  for k in range(1,n):
    for j in range(k):
      print(" ",end=" ")
    for i in  range(n):
      print("*",end=" ")
    print()

n=5
st=4
rhom3(n,st)

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *
  * * * * *
    * * * * *
      * * * * *
        * * * * *

In [ ]:
def rhom3(n,st):
  for i in range(n):
    for j in range(i):
      print(" ",end=" ")
    for i in range(n):
      print("*",end=" ")
    print()
  for k in range(1,n):
    for j in range(k):
      print(" ",end=" ")
    for i in  range(n):
      print("*",end=" ")
    print()

n=5
st=4
rhom3(n,st)

* * * * *
  * * * * *
    * * * * *
      * * * * *
        * * * * *
  * * * * *
    * * * * *
      * * * * *
        * * * * *

In [ ]:
def rhom4(n,st):
  for i in range(2):
    for i in range(n):
      for j in range(i):
        print(" ",end=" ")
      for i in range(n):
        print("*",end=" ")
      print()
    for i in range(n):
      for j in range(n-i-1):
        print(" ",end=" ")
      for i in range(n):
        print("*",end=" ")
      print()

n=5
st=4
print(rhom4(n,st))

* * * * *
  * * * * *
    * * * * *
      * * * * *
        * * * * *
        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *
* * * * *
  * * * * *
    * * * * *
      * * * * *
        * * * * *
        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *
None

In [ ]:
def rect(n,st):
  for i in range(n):
    for j in range(st):
      print("*",end=" ")
    print()

n=5
st =5
rect(n,st)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
def tri(n,st):
  for i in range(1,n):
      for j in range(i):
        print("*",end=" ")
      for i in range(n):
        print(" ",end=" ")
      print()


n=8
st=7
tri(n,st)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
n=int(input("enter a number"))

for i in range(0,n):
  for j in range(0,i+1):
    print("*",end=" ")
  print()

enter a number5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n=int(input("enter a number"))

for i in range(0,n):
  for j in range(0,n-i-1):
    print("*",end=" ")
  print()

enter a number6
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input("enter a number"))

for i in range(n,0,-2):
  for j in range(i):
    print("*",end=" ")
  print()

enter a number5
* * * * *
* * *
*

In [ ]:
n=int(input("enter a number"))

for i in range(n):
  for j in range(n-i-1):
    print("*",end=" ")
  print()

enter a number5
* * * *
* * *
* *
*

In [ ]:
n = int(input("Enter a number: "))

for i in range(n):
  for j in range(n - i - 1):
    print(" ", end=" ")
  for j in range(2 * i - 1):
    print("*", end=" ")
  print()

Enter a number: 5

      *
    * * *
  * * * * *
* * * * * * *

In [ ]:
def py(n):
  for i in range(n):
    print(' ' * (n-i) + '* ' * (i+1))
n=5
print(py(n))

     *
    * *
   * * *
  * * * *
 * * * * *
None

In [ ]:
n = 6
for i in range(n,0,-1):
  print(' ' * (n-i) + ' *'*i)

  print()

 * * * * * *

  * * * * *

   * * * *

    * * *

     * *

      *

In [ ]:
def hall(n,st):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end=" ")
    for j in range(2*i+1):
      if i==0 or i==n-1 or j==0 or j==2*i:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

n=5
st=6
hall(n,st)

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [ ]:
def inverted_hollow_triangle(n):
    for i in range(n, 0, -1):
        for j in range(n - i):
            print(" ", end="")
        for j in range(1, i + 1):
            if j == 1 or j == i or i == n:
                print("*", end="")
            else:
                print(" ", end="")
        print()

inverted_hollow_triangle(5)

*****
 *  *
  * *
   **
    *

In [ ]:
def inverted_hollow_pyramid(n):
    for i in range(n, 0, -1):
        for j in range(n - i):
            print(" ", end="")
        for j in range(1, 2 * i):
            if j == 1 or j == 2 * i - 1 or i == n:
                print("*", end="")
            else:
                print(" ", end="")
        print()

n = int(input("Enter the number of rows: "))

inverted_hollow_pyramid(n)

Enter the number of rows: 5
*********
 *     *
  *   *
   * *
    *

In [ ]:
def half_dia(n):
  for i in range(1,n+1):
    print('*' * i)
half_dia(6)

*
**
***
****
*****
******

In [ ]:
def half_dia1(n):
  for i in range(n-1,0,-1):
    print('*' * i)
half_dia1(6)

*****
****
***
**
*

In [ ]:
def half_dia2(n):
  for i in range(1,n+1):
    print('*'*i)
  for j in range(n-1,0,-1):
    print('*' * j)
half_dia2(6)

*
**
***
****
*****
******
*****
****
***
**
*

In [ ]:
def half_diamond(n):
  for i in range(1,n+1):
    print(' ' * (n-i) + '*' * i)
  for i in range(n-1,0,-1):
    print(' ' * (n-i) + '*' * i)
half_diamond(6)

     *
    **
   ***
  ****
 *****
******
 *****
  ****
   ***
    **
     *

In [ ]:
def butterfly(n):
  for i in range(1,n+1):
    print('*' * i)
  for j in range(n-1,0,-1):
    print('*' * j)
  print('*' *n *2)
  for i in range(1,n+1):
    print(' ' * (n-i) + '*' * i)
  for i in range(n-1,0,-1):
    print(' ' * (n-i) + '*' * i)


butterfly(6)

*
**
***
****
*****
******
*****
****
***
**
*
************
     *
    **
   ***
  ****
 *****
******
 *****
  ****
   ***
    **
     *

In [ ]:
def butterfly_pattern(n):
    for i in range(1, n + 1):
        print('*' * i + ' ' * (2 * (n - i)) + '*' * i)

    for i in range(n-1, 0, -1):
        print('*' * i + ' ' * (2 * (n - i)) + '*' * i)

butterfly_pattern(5)

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [ ]:
def diamond(n):
  for i in range(n):
    print(' ' * (n-i) +'* '*(i))
  for i in range(n-1,0,-1):
    print(' ' * (n-i) + '* '*(i))
diamond(6)

     *
    * *
   * * *
  * * * *
 * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
def diamond(n):
  for i in range(n):
    for j in range(n-i-1):
      print(' ' , end=" ")
    for j in range(2*i-1):
      print('*', end=" " )

    print()
diamond(6)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
def diamond(n):
  for i in range(3):
    for i in range(n):
        print(' ' * (n - i - 1) + '*' * (2 * i + 1))

    for i in range(n - 2, -1, -1):
        print(' ' * (n - i - 1) + '*' * (2 * i + 1))

diamond(6)

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [8]:
def cube(n,m):
  sum=0
  for i in range(n):
    for j in range(m):
      print(j+1,end=" ")
    print()

n=5
m=4
print(cube(n,m))

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
None

In [8]:
def cube1(n,m):
  for i in range(n):
    for j in range(m):
      if j<=i:
        print(j+1,end=" ")
      else:
        print(" ",end=" ")
    print()
n=5
m=6
print(cube1(n,m))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
None

In [9]:
def iq(n,m):
  for i in range(n):
    for j in range(m):
      print("*",end=" ")
    print()
n=3
m=3
print(iq(n,m))

* * *
* * *
* * *
None