<a href="https://colab.research.google.com/github/Darkunquie/DSA-practice/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s={10,20,30}
print(s)
print(type(s))

{10, 20, 30}
<class 'set'>

In [ ]:
#typecasting list to set
s = set(["a", "b", "c"])
print(s)

{'a', 'c', 'b'}

In [ ]:
s.add("d")
print(s)

{'a', 'c', 'd', 'b'}

#Python Frozen Sets

While elements of a set can be modified at any time, elements of the frozen set remain the same after creation

In [ ]:
s=set(["a","b","c"])
print(s)

{'a', 'c', 'b'}

In [ ]:
fs=frozenset(["e","f","g"])
print(fs)

frozenset({'e', 'g', 'f'})

Adding elements to Python Sets

In [ ]:
s=set(["a","b","c"])
s.add("d")
print(s)

{'a', 'c', 'd', 'b'}

#Union operation

Two sets can be merged using union() function or | operator. Both Hash Table values are accessed and traversed with merge operation perform on them to combine the elements, at the same time duplicates are removed.

In [ ]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

# Union using union()
# function
population = people.union(vampires)
print(population)

{'Jay', 'Arjun', 'Archil', 'Idrish', 'Karan'}

In [ ]:
pop=vampires|dracula
print(pop)

{'Karan', 'Arjun', 'Deepanshu', 'Raju'}

#Intersection operation

In [ ]:
set1={1,2,3,4,5}
set2={4,5,6,7,8,3}
set3=set1&set2
print(set3)

{3, 4, 5}

#Finding Differences

In [ ]:
set3=set1-set2
print(set3)

{1, 2}

Print all Distinct (Unique) Elements in given Array

In [ ]:
'''Input: arr[] = {12, 10, 9, 45, 2, 10, 10, 45}
Output: {12, 10, 9, 45, 2}


Input: arr[] = {1, 2, 3, 4, 5}
Output: {1, 2, 3, 4, 5}


Input: arr[] = {1, 1, 1, 1, 1}
Output: {1}

In [3]:
arr=[12,10,9,45,2,10,10,45]
arr2=[]
for i in arr:
  if i not in arr2:
    arr2.append(i)
print(set(arr2))

{2, 9, 10, 12, 45}

In [6]:
arr=[12,10,9,45,2,10,10,45]
unq=set()
for i in arr:
  unq.add(i )
print((unq))

{2, 9, 10, 12, 45}

Intersection of two Arrays

In [ ]:
'''Input: a[] = {1, 2, 1, 3, 1},  b[] = {3, 1, 3, 4, 1}
Output: {1,  3}
Explanation: 1 and 3 are the only common elements and we need to print only one occurrence of common elements

Input: a[] = {1, 1, 1},  b[] = {1, 1, 1, 1, 1}
Output: {1}
Explanation: 1 is the only common element present in both the arrays.

Input: a[] = {1, 2, 3},  b[] = {4, 5, 6}
Output: {}
Explanation: No common element in both the arrays.

In [7]:
a = {1, 2, 1, 3, 1}
b = {3, 1, 3, 4, 1}
c=a&b
c

{1, 3}

In [8]:
a = {1, 2, 1, 3, 1}
b = {3, 1, 3, 4, 1}
c = {x for x in a if x in b}
print(c)

{1, 3}

Check if an array is subset of another array

In [ ]:
'''Input: a[] = [11, 1, 13, 21, 3, 7], b[] = [11, 3, 7, 1]
Output: true


Input: a[]= [1, 2, 3, 4, 5, 6], b = [1, 2, 4]
Output: true


Input: a[] = [10, 5, 2, 23, 19], b = [19, 5, 3]
Output: false

In [13]:
def is_subset(array1, array2):

  return all(element in array1 for element in array2)

# Example usage:
a = [11, 1, 13, 21, 3, 7]
b = [11, 3, 7, 1]

if is_subset(a, b):
  print("True")
else:
  print("False")

True

#Check for Disjoint Arrays or Sets

In [ ]:
"""Input: a[] = {12, 34, 11, 9, 3}, b[] = {2, 1, 3, 5}
Output: False
Explanation: 3 is common in both the arrays.


Input: a[] = {12, 34, 11, 9, 3}, b[] = {7, 2, 1, 5}
Output: True
Explanation: There is no common element in both the sets."""

In [21]:
def dis(a,b):
  for i in a:
    if i in b:
      return False
  return True


a=[12, 34, 11, 9, 3]
b=[2, 1, 3, 5]
res=dis(a,b)
print(res)

False

In [22]:
def are_disjoint(array1, array2):
  set1 = set(array1)  # Convert arrays to sets for efficient intersection check
  set2 = set(array2)
  return len(set1.intersection(set2)) == 0  # Check if intersection is empty


# Example usage:
a = [12, 34, 11, 9, 3]
b = [2, 1, 3, 5]

result = are_disjoint(a, b)
print(result)  # Output: False (3 is common)

a = [12, 34, 11, 9, 3]
b = [7, 2, 1, 5]

result = are_disjoint(a, b)
print(result)  # Output: True (no common elements)

False
True

Longest Consecutive Subsequence

In [ ]:
'''Input: arr[] = [2, 6, 1, 9, 4, 5, 3]
Output: 6
Explanation: The consecutive numbers here are from 1 to 6. These 6 numbers form the longest consecutive subsequence [2, 6, 1, 4, 5, 3].


Input: arr[] = [1, 9, 3, 10, 4, 20, 2]
Output: 4
Explanation: The subsequence [1, 3, 4, 2] is the longest subsequence of consecutive elements


Input: arr[] = [36, 41, 56, 35, 44, 33, 34, 92, 43, 32, 42]
Output: 5
Explanation: The subsequence [36, 35, 33, 34, 32] is the longest subsequence of consecutive elements.

In [23]:
def con(arr):
  num=set(arr)
  streak=0
  for i in num:
    if i-1 not in num:
      current_num=i
      current_streak=1
      while current_num+1 in num:
        current_num+=1
        current_streak+=1
      streak=max(streak,current_streak)
  return streak
arr = [2, 6, 1, 9, 4, 5, 3]
print(con(arr))

6

Duplicate within K Distance in an Array

In [ ]:
'''Input: k = 3, arr[] = [1, 2, 3, 4, 1, 2, 3, 4]
Output: No
Explanation: Each element in the given array arr[] appears twice and the distance between every element and its duplicate is 4.

Input: k = 3, arr[] = [1, 2, 3, 1, 4, 5]
Output: Yes
Explanation: 1 is present at index 0 and 3.

Input: k = 3, arr[] = [1, 2, 3, 4, 5]
Output: No
Explanation: There is no duplicate element in arr[]."""

In [28]:
def check_duplicates_within_k(arr, k):
    n = len(arr)

    # Traverse for every element
    for i in range(n):

        # Traverse next k elements
        for c in range(1, k + 1):
            j = i + c

            # If we find one more occurrence within k
            if j < n and arr[i] == arr[j]:
                return True

    return False

# Driver method to test above method
arr = [10, 5, 3, 4, 3, 5, 6]
print("Yes" if check_duplicates_within_k(arr, 3) else "No")

Yes

In [27]:
def check(arr,k):
  ele ={}
  for i, num in enumerate(arr):
    if num in ele and abs(ele[num]-i)<=k:
      return True
    ele[num]=i
  return False




arr= [1, 2, 3, 4, 1, 2, 3, 4]
if check(arr,3):
  print ("True")
else:
  print(" False")

 False

Two Sum – Pair with given Sum

In [ ]:
Input: arr[] = [0, -1, 2, -3, 1], target = -2
Output: true
Explanation: There is a pair (1, -3) with the sum equal to given target, 1 + (-3) = -2.


Input: arr[] = [1, -2, 1, 0, 5], target = 0
Output: false
Explanation: There is no pair with sum equals to given target.

In [33]:
def two_sum(arr,target):
  n=len(arr)
  for i in range(n):
    for j in range(i+1,n):
      if arr[i]+arr[j]==target:
        return True
  return False


arr=[0, -1, 2, -3, 1]
target=-2
if two_sum(arr,target):
      print("true")
else:
      print("false")   #O(n2)

true

In [35]:
def two_sum(arr,target):
  seen={}
  for i,num in enumerate(arr):
    complement=target-num
    if complement in seen:
      return True #pair found
    seen[num]=i #store current ele and its index
  return False


arr=[0, -1, 2, -3, 1]
target=-2
if two_sum(arr,target):
      print("true")
else:
      print("false")   #O(n2)

true

Only Repeating From 1 To n-1

In [ ]:
nput: a[] = [1, 3, 2, 3, 4]
Output: 3
Explanation: The number 3 is the only repeating element.


Input: a[] = [1, 5, 1, 2, 3, 4]
Output: 1

In [39]:
def sum(arr):
  set1 = set()  # Initialize set1 as a set using set()
  for i in arr:
    if i in set1:
      return i
    set1.add(i)
  return -1



arr = [1, 5, 1, 2, 3, 4]
print(sum(arr))

1