In [1]:
s1 = "apple"
s2 = "banana"

# "apple" is not equal to "banana", therefore it is False
print(s1 == s2)

# "apple" is different from "banana", therefore it is True
print(s1 != s2)

# "apple" comes before "banana" lexicographically, therefore it is True
print(s1 < s2)

False
True
True

In [2]:
s1 = "apple"
s2 = "banana"

# "apple" appears before "banana" alphabetically, therefore it is True
print(s1 < s2)

# "banana" comes after "apple", therefore it is True
print(s2 > s1)

True
True

In [3]:
s1 = "Apple"
s2 = "apple"

# Both strings are same ignoring case, therefore it is True
print(s1.lower() == s2.lower())

True

In [4]:
s = "hello world"

# 's' starts with "hello", therefore it is True
print(s.startswith("hello"))

# 's' ends with "world", therefore it is True
print(s.endswith("hello"))

True
False

7 Useful String Functions in Python
1.  Capitalize
2. Count
3. Find
4. Lower
5. Upper
6. Replace
7. Join

In [5]:
# input from users
sentence_1 = "mY name is YUVRAJ"
sentence_2 = "MY name is Ansul"

# Convert case using capitalize()
capitalized_string = sentence_1.capitalize()
print("Sentence 1 output -> ", capitalized_string)
capitalized_string = sentence_2.capitalize()
print("Sentence 2 output -> ", capitalized_string)

Sentence 1 output ->  My name is yuvraj
Sentence 2 output ->  My name is ansul

##2. Count

In [7]:
message = 'GFG KARLO HO JAYEGA'

# number of occurrence of 'G'
print('Number of occurrence of G:', message.count('A'))

Number of occurrence of G: 3

#find

In [8]:
message = 'Yuvraj is my name'

# check the index of 'is'
print(message.find('is'))

7

In [9]:
message = 'GEEKSFORGEEKS IS A COMPUTER SCIENCE PORTAL'

# convert message to lowercase
print(message.lower())

geeksforgeeks is a computer science portal

In [10]:
message = 'geeksforgeeks is a computer science portal'

# convert message to uppercase
print(message.upper())

GEEKSFORGEEKS IS A COMPUTER SCIENCE PORTAL

In [14]:
#string.replace(old, new, count)
text = 'subway surfer'

# replace s with t
replaced_text = text.replace('s', 't',1)
print(replaced_text)

tubway surfer

In [15]:
text = ['Anshul', 'is', 'my', 'only', 'friend']

# join elements of text with space
print(' '.join(text))

Anshul is my only friend

#Convert integer to string in Python

Using str() Function

In [16]:
n = 42

# Convert integer to string
s = str(n)

print(s)

42

In [17]:
n = 42

# Convert to string using f-string
s = f"{n}"

print(s)

42

In [18]:
n = 42

# Convert using format()
s = "{}".format(n)

print(s)

42

In [19]:
n = 42

# Convert integer to string using %s
s = "%s" % n

print(s)

42

In [21]:
#Using repr() for Debugging
n = 42

# Convert using repr()
s = repr(n)

print(s)

42

The repr() function is usually used for debugging, as it gives a detailed string version of an object. While it also converts integers to strings, it’s not the most common method for simple integer-to-string conversion.

#Convert String to Int in Python

Using int() Function

In [22]:
s = "42"
num = int(s)
print(num)

42

In [27]:
# Binary string
s = "1010"
num = int(s, 2)
print(num)

# Hexadecimal string
s = "A"
num = int(s, 16)
print(num)

10
10

Handling Invalid Input String

In [28]:
s = "abc"
try:
    num = int(s)
    print(num)
except ValueError:
    print("Invalid input: cannot convert to integer")

Invalid input: cannot convert to integer

In [29]:
s = "abc"
num = int(s)
print(num)

ValueError: invalid literal for int() with base 10: 'abc'

In [30]:
s = "abc"
try:
    num = int(s)
    print("Successfully converted to integer:", num)
except ValueError:
    print("Invalid input: cannot convert", s, "to integer.")
    num = 0  # Assign a default value (0 in this case)

Invalid input: cannot convert abc to integer.

#Using str.isdigit()

In [31]:
s = "12345"
if s.isdigit():
    num = int(s)
    print(num)
else:
    print("The string is not numeric.")

12345