Find the size of a Set in Python

In [ ]:
 import sys
 #two methods
 #getsizeof()
 #__sizeof__()
 hi={"st1":21,"st2":56}
 print(hi)
 print(hi.__sizeof__())
 print(sys.getsizeof(hi))#main because it return size of memory + garbage values

{'st1': 21, 'st2': 56}
168
184

Iterate over a set in Python

In [ ]:
#using for loop
a=set("hello")
for i in a:
  print(i)

h
l
o
e

In [ ]:
for i in a.__iter__():
  print(i)

h
l
o
e

In [ ]:
for i in iter(a):
  print(i)

h
l
o
e

#Maximum and Minimum element

In [ ]:
s1 = {4, 12, 10, 9, 4, 13}
print(max(s1))
print(min(s1))

13
4

In [ ]:
#using sorted
print(sorted(s1)[0])
print(sorted(s1)[-1])

4
13

In [ ]:
#using loop
max_element = None
for element in s1:
  if max_element is None or element > max_element:
    max_element = element
print(max_element)
print(min(s1))

13
4

In [ ]:
minVal=float('inf')
maxVal=float('-inf')
for i in s1:
  if i<minVal:
    minVal=i
  if i>maxVal:
    maxVal=i
print(minVal)
print(maxVal)

4
13

#Remove items

In [ ]:
a = {1, 2, 3, 4, 5}

a.remove(3)
print(list(a))
# The following loop and operations are not valid for sets as they rely on indexing and ordering
# for i in a:
#   if a[i] <a[i+1]:
#     print("bigger")
#     print(a[::-1])

[1, 2, 4, 5]

#convert set to list and do slicing

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

print(my_list)
print(my_list[0]) # Accessing the first element
print(my_list[2]) # Accessing the third element

[1, 2, 3, 4, 5]
1
3

#Check if two lists have at-least one element common

In [ ]:
a = [1, 2, 3, 4]
b = [5, 6, 3, 8]

# Find common elements using set intersection
common = set(a) & set(b)

# Check if there are common elements
if common:
    print("Common", common)
else:
    print("Not common.")

Common {3}

In [ ]:
a = [1, 2, 3, 4]
b = [5, 6, 3, 8]

# Check for at least one common element
if any(item in b for item in a):
    print("Common elements exist.")
else:
    print("No common elements.")

Common elements exist.

#Find Common elements in three Lists using Sets

In [ ]:
a = [1, 2, 3, 4]
b = [2, 3, 5, 6]
c = [1, 2, 3, 7]

# Convert lists to sets and find common elements
res = set(a).intersection(b, c)
print(f"Common elements: {res}")

Common elements: {2, 3}

In [ ]:
res=set(a)& set(b) & set(c)
print(res)

{2, 3}

#find missing and additional values

In [ ]:
a = [1, 2, 3, 4, 5, 6]
b = [4, 5, 6, 7, 8]
additional=list(set(b)-set(a))
missing=list(set(a)-set(b))
print(additional)
print(missing)

[8, 7]
[1, 2, 3]

#Difference between two Lists in Python

In [ ]:
# Define the lists
a = [1, 2, 3, 4, 5]
b = [3, 4, 6, 7]

c = list(set(a) - set(b))

print(c)

[1, 2, 5]

#Python Set difference to find lost element from a duplicated array

In [ ]:
A = [1, 4, 5, 7, 9]
B = [4, 5, 7, 9]
A1=len(A)
B1=len(B)
if A1>B1:
  lost=list(set(A)-set(B))
else:
  lost=list(set(B)-set(A))
print(lost)

[1]

#Count Number of Vowels using Sets

In [ ]:
s = "Python Programming"
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
vowel=str(vowels)
sum=(s.count(vowel))
print(sum)

0

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Method 1: Convert to a list first and then join the elements (order is not guaranteed)
my_list = list(my_set)
set_string_list = ', '.join(map(str, my_list))
print(f"String from list conversion: {set_string_list}")

# Method 2: Using the built-in str() function
set_string_str = str(my_set)
print(f"String from str() function: {set_string_str}")

String from list conversion: 1, 2, 3, 4, 5
String from str() function: {1, 2, 3, 4, 5}

In [ ]:
s = "Python Programming"
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
count = 0
for char in s:
    if char in vowels:
        count += 1
print(count)

4

#Python Program to Accept the Strings Which Contains all Vowels

In [ ]:
s = "Geeksforgeeks"
v = 'aeiou'

if all(i in s.lower() for i in v):
  print("true")
else:
  print("false")

false

#Check if a given string is binary string or not - Python

In [ ]:
s = "101010000111"

if all(i in '01' for i in s):
    print("True")
else:
    print("False")

True

#Python set to check if string is pangram

In [ ]:
from string import ascii_lowercase as ascLow

def check(string):
    return set(ascLow) - set(string.lower()) == set([])


string ="The quick brown fox jumps over the lazy dog"
if(check(string)== True):
    print("The string is a pangram")
else:
    print("The string isn't a pangram")

The string is a pangram

#Pairs of Complete Strings in Two Sets

In [47]:
a = ['abcdefgh', 'geeksforgeeks', 'lmnopqrst', 'abc']
b = ['ijklmnopqrstuvwxyz', 'abcdefghijklmnopqrstuvwxyz', 'defghijklmnopqrstuvwxyz']
count=0
for i in a:
  for j in b:
    combine=i+j
    if len(set(combine))== 26:
      count+=1

print(count)

7

In [49]:
S = "the big dwarf only jumps"
c=0
s=[]
for i in S:
  if i in s:
    print("yes")
  else:
    print("No")
    break

No

In [52]:
def has_unique_chars(s):
  """Checks if a string contains only unique characters using a set."""
  seen_chars = set()
  for char in s:
    if char in seen_chars:
      return False  # Found a duplicate
    seen_chars.add(char)
  return True  # No duplicates found

# Test cases
s1 = "the big dwarf only jumps"
s2 = "geeksforgeeks"
print(has_unique_chars(s1))  # Output: False
print(has_unique_chars(s2))  # Output: True

False
False