##sorting methods

In [ ]:
a=[21,15,2,6,1]
a.sort()
a       #modifies given list

[1, 2, 6, 15, 21]

In [ ]:
b=[13,1,65,25,10]
sorted(b)            #does not modifies given list it returns different list

[1, 10, 13, 25, 65]

#Time Complexity

#sort() and sorted(): Both have a time complexity of O(n log ‚Å°n).

#sort()

In [ ]:
b=[5, 2, 9, 1, 5, 6]
b.sort()
print('ascending order ',b)

ascending order  [1, 2, 5, 5, 6, 9]

In [ ]:
b.sort(reverse=True)
print('descending order ',b)

descending order  [9, 6, 5, 5, 2, 1]

In [ ]:
words = ["apple", "banana", "kiwi", "orange", "grape"]
words.sort(key =len)
words

['kiwi', 'apple', 'grape', 'banana', 'orange']

In [ ]:
# Original list of dictionaries
students = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 22},
    {"name": "David", "age": 28},
]

# Sorting by the 'age' key in each dictionary
students.sort(key=lambda x: x["age"])

# Displaying the sorted list
print("Sorted by Age:", students)

Sorted by Age: [{'name': 'Charlie', 'age': 22}, {'name': 'Alice', 'age': 25}, {'name': 'David', 'age': 28}, {'name': 'Bob', 'age': 30}]

#sorted()

In [ ]:
a = [5, 2, 9, 1, 5, 6]

# "reverse= True" helps sorted() to arrange the element
#from largest to smallest elements
res = sorted(a, reverse=True)
print(res)

[9, 6, 5, 5, 2, 1]

In [ ]:
a = ["apple", "banana", "cherry", "date"]
res = sorted(a, key=len)
print(res)

['date', 'apple', 'banana', 'cherry']

Sorting a List of Dictionaries:

In [ ]:
a = [
    {"name": "Alice", "score": 85},
    {"name": "Bob", "score": 91},
    {"name": "Eve", "score": 78}
]

# Use sorted() to sort the list 'a' based on the 'score' key
# sorted() returns a new list with dictionaries sorted by the 'score'
b = sorted(a, key=lambda x: x['score'])
print(b)

[{'name': 'Eve', 'score': 78}, {'name': 'Alice', 'score': 85}, {'name': 'Bob', 'score': 91}]

#Sort a String

In [ ]:
s = "python"

# Sorting the string
sorted_string = 'a'.join(sorted(s))
print(sorted_string)

hanaoapatay

In [ ]:
s = "python"

# Custom sorting: reverse alphabetical order
sorted_string = ''.join(sorted(s, reverse=True))
print(sorted_string)

ytponh

#Sorting a dictionary:

In [ ]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15}

myKeys = list(d.keys())
myKeys.sort()

# Sorted Dictionary
sd = {i: d[i] for i in myKeys}
print(sd)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15}

Displaying the Keys in Sorted Order using sorted() on Key

In [ ]:
# Initializing key-value pairs
d = {2: 56, 1: 2, 5: 12, 4: 24}

print("Dictionary", d)
for i in sorted(d):
  print(i, d[i])

Dictionary {2: 56, 1: 2, 5: 12, 4: 24}
1 2
2 56
4 24
5 12

In [ ]:
# Initializing key-value pairs
d = {2: 56, 1: 2, 5: 12, 4: 24}

print("Dictionary", d)
for i in sorted(d):



 print(i , end=" ")

Dictionary {2: 56, 1: 2, 5: 12, 4: 24}
1 2 4 5

In [ ]:
# Initializing key-value pairs
d = {2: 56, 1: 2, 5: 12, 4: 24}

print("Dictionary", d)
for i in sorted(d):
  print((i, d[i]),end=" ")

Dictionary {2: 56, 1: 2, 5: 12, 4: 24}
(1, 2) (2, 56) (4, 24) (5, 12)

In [ ]:
# Initializing the key-value pairs
d = {2: 56, 100: 2, 3: 323}

print("Dictionary", d)

# Sorting key-value pairs by value, and by key if values are the same
sorted_items = sorted(d.items(), key=lambda kv: (kv[0], kv[1]))

print(sorted_items)

Dictionary {2: 56, 100: 2, 3: 323}
[(2, 56), (3, 323), (100, 2)]